cycler==0.10.0
imutils==0.4.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
opencv-python==3.4.0.12
Pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.4
six==1.11.0
