{% extends "base.html" %}
{% load static %}
{% block title %}AGIL{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="{% url "index" %}" title="Pagina Inicial" class="tip-bottom">
                    <i class="icon-home"></i> Inicial
                </a>
                <a href="{% url "turma-aluno-list" %}" class="current">Turmas</a>
                <a href="#" class="current">{{ operacao }}</a>
            </div>
            <h1>{{ sessao.questionario.nome }}</h1>
        </div>
        <div class="container-fluid" style="padding-left:5%;width:85%;">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>Correção</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                <tr>
                                    <th width="15px;">Nª Chamada</th>
                                    <th width="20%">Matricula</th>
                                    <th>Nome</th>
                                    <th width="10%">Média</th>
                                    <th width="15%;">Alterações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for alunoSessao in alunosSessao %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ alunoSessao.aluno.matricula }}</td>
                                        <td>{{ alunoSessao.aluno.nome }}</td>
                                        <td>{{ alunoSessao.media }}</td>
                                        <td style="text-align: center">
                                            <a href="{% url 'sessao-evaluate' alunoSessao.sessao.pk alunoSessao.pk %}" title="Avaliar" style="color:#0EAF50">
                                                    <i class="fas fa-lg fa-clipboard-check"></i>                                                    
                                            </a>
                                            <a href="{% url 'sessao-aluno-details' alunoSessao.sessao.pk alunoSessao.pk %}" title="Detalhar" style="color:#E70000">
                                                    <i class="fas fa-lg fa-search-plus"></i>                                                    
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="gradeX">
                                        <td colspan="4" style="text-align: center">
                                            Turma não possui alunos matriculados
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <form action="{% url 'aluno-turma-list' sessao.turma.pk %}" method="get">
                                <div style="padding-left: 90%;" class="form-actions">
                                    <input id="back" class="btn btn-primary" type="submit" value="Voltar"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}