{% load static %}
<div class="widget-box {% if forloop.counter and forloop.counter|add:1|divisibleby:2 %}pagebreak {% endif %}">
    <div class="widget-title" style="text-align: center; height: auto;">
        <span>AVALIAÇÃO</span><br>
        <span>TURMA: {{ sessao.turma|upper }}</span><br>
        {% if aluno %}
            <span>Aluno (a): {{ aluno | upper }} Data: {{ sessao.dataAplicacao | date:"d-m-Y" }} </span>
        {% else %}
            <span>Aluno (a):  ______________________________________________________
                Data: {{ sessao.dataAplicacao | date:"d-m-Y" }}
            </span>
        {% endif %}
    </div>
    <div class="widget-content nopadding" style="margin-left: 10%">
        <span class="square-left">■</span>
        <span class="square-right">■</span>
        <table>
            <thead>
            <tr>
                <td>N°</td>
                {% for alternativa in alternativas %}
                    <td style="text-align: center;">{{ alternativa }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for questao in quantidade_questoes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for alternativa in alternativas %}
                        <td style="width: 18%;text-align: center; ">
                            <img src="{% static 'images/gabarito/circulo.jpg' %}" width="15"
                                 height="20">

                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <span class="square-left">■</span>
    <span class="square-right">■</span>
        <div class="form-actions">
            <span><strong>Assinatura:</strong> ______________________________________________________</span>
        </div>
    </div>

</div>
<style>
    .square {
        width: 10px;
        height: 10px;
        background: black;
    }

    .square-left {
        margin: 10px 0 10px 5px;
    }
    .square-right {
        margin: 10px 0 10px 90%
    }
</style>