{% extends "base.html" %}
{% load static %}
{% block title %}AGIL{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="{% url "index" %}" title="Pagina Inicial" class="tip-bottom">
                    <i class="icon-home"></i> Inicial
                </a>
                <a href="{% url "turma-aluno-list" %}" class="current">Turmas</a>
                <a href="#" class="current">{{ operacao }}</a>
            </div>
            <h1>{{ turma }}</h1>
        </div>
        <div class="container-fluid" style="padding-left:5%;width:85%;">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>{{ operacao }} Matriculados</h5>

                            <div class="buttons">
                                <a href="{% url "aluno-create" %}" class="btn btn-mini btn-success">
                                <i class="fas fa-lg fa-user" style="color:#585758"></i>   
                                    Novo Estudante</a>
                            </div>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                <tr>
                                    <th width="15px;">Nª Chamada</th>
                                    <th width="20%">Matricula</th>
                                    <th>Nome</th>
                                    <th width="15%;">Alterações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for aluno in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ aluno.matricula }}</td>
                                        <td>{{ aluno.nome }}</td>
                                        <td style="text-align: center">
                                            <a href="{% url "aluno-update" aluno.pk %}" title="Editar">
                                                    <i class="fas fa-lg fa-edit" style="color:#0EAF50"></i>
                                                    
                                            </a>
                                            <a href="{% url "aluno-delete" aluno.pk %}" title="Remover"> 
                                                <i class="fas fa-lg fa-trash-alt" style="color:#E70000"c></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="gradeX">
                                        <td colspan="4" style="text-align: center">
                                            Turma não possui alunos matriculados
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% include 'sessao/questionario/list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}