{% extends "base.html" %}
{% load static %}
{% block title %}AGIL{% endblock %}

{% block body %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="{% url "index" %}" title="Pagina Inicial" class="tip-bottom">
                    <i class="icon-home"></i> Inicial
                </a>
                <a href="{% url "turma-list" %}" class="current">Turmas
                </a>
                <a href="#" class="current">{{ operacao }}</a>
            </div>
            <h1>{{ operacao }} Matriculados</h1>

        </div>
        <div class="container">
            <form action="" method="post" id="turma_form">{% csrf_token %}
                <fieldset class="module aligned ">
                    <h2>Alunos</h2>


                    <div class="form-row field-alunos">


                        <div>


                            <label for="id_alunos"></label>

                            <div class="related-widget-wrapper">
                                <div style="width: 800px;float: left;">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <select name="Alunos" data-field-name="alunos"
                                            id="id_alunos" multiple="multiple" class="selectfilter"
                                            datasrc={{ form.alunos }}
                                    </select>
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>


                            </div>

                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <a href="{% url "turma-aluno-list" %}" class="btn btn-info">Voltar</a>
                    <button class="btn btn-info" type="submit">Salvar</button>
                </div>
            </form>
        </div>

    </div>


    <style>
        .selector .selector-available h2,
        .selector-chosen h2 {
            background: #1b1b1b;
            color: #fff;
        }
    </style>
{% endblock body %}